* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
body {
  background-color: #6d1a85;
  color: black;
  overflow-x: hidden;
}

p{
  padding: 5px;
  text-align: center;
}
/*Selecting the landing section*/
.landing {
  background-color: black;

  background-position: center;
  height: 100vh;
  position: relative;

  display: grid;
  place-items: center;

}

.landing h1{
  border: #5d1671 2px solid;
  color: #5d1671;

  padding: 10px 10px;

  font-size: 35px;
  pointer-events: none;
}

.link{
  position: absolute;
  bottom: 0;
  /* left: 50%; */
  /* right: 50%; */
  margin-bottom: 10px;
  height: 40px;
  width: 40px;

  display: grid;
  place-items: center;

  border: solid 2px #5d1671;
  border-radius: 50%;

  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #5d1671;
  animation: fade 2s 2s;
  transition: all 0.5s linear;
  animation-fill-mode: forwards;
  opacity: 0;
  font-size: 25px;
  
}

.link:hover{
  box-shadow: 0px 0px 60px #24082c,
              0px 0px 60px #24082c,
              0px 0px 60px #24082c,
              0px 0px 60px #24082c;
}




@keyframes fade {
  from{ opacity: 0;}
  to{ opacity: 1;}
}


/* Selecting the timeline container */
#timeline-container {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  grid-template-rows: repeat(4, 50%);
  position: relative;
  padding: 5px;
  height: 100vh;
  row-gap: 5px;
}

/* Selecting timeline-line */
.timeline-line {
  background-color: black;
  width: 100%;
  justify-self: center;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  
}

/* timeline links*/
.timeline-link{
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;

  display: grid;
  place-items: center;
  grid-column-start: 2;
  grid-row-start: 1;

  background-color: #6d1a85;
  color: black;
  font-size: 20px;
  font-weight: bold;

  border: solid 2px black;
  border-radius: 50%;

  transition: all 0.5s linear;
}
.timeline-link:hover{
  box-shadow: 0px 0px 60px #24082c,
  0px 0px 60px #24082c,
  0px 0px 60px #24082c,
  0px 0px 60px #24082c;
}
.link-one{
  position: absolute;
  top: 0;
  left: -19px;
  transform: rotateX(180deg);
  
}

.link-two{
  position: absolute;
  bottom: 5px;
  left: -19px;
  /* transform: rotateX(180deg); */
  grid-column-start: 2;
  grid-row-start: 1;
}


.link-three{
  position: absolute;
  bottom: -65px;
  left: -19px;
  transform: rotateX(180deg);
}

/* Selecting all items */
.timeline-items {
  background: #6d1a85;
  box-shadow: 0px 0px 60px #24082c,
              0px 0px 60px #24082c,
              0px 0px 60px #24082c,
              0px 0px 60px #24082c;
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 5px;
  gap: 5px;
  text-align: center;
  justify-content: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Items 1-4 */
.item-1 {
  grid-column: 1;
  grid-row: 1;
}

.item-2 {
  grid-column: 3;
  grid-row: 2;
}

.item-3 {
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
}

.item-4 {
  grid-column: 3;
  grid-row: 4;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .link{
    bottom: 130px;
  }
  #timeline-container {
    grid-template-columns: 2px 1fr;
    padding-left: 20px;
  }
  .timeline-line {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .timeline-items {
    margin-right: 0;
  }
  .item-1 {
    grid-column: 2;
    grid-row: 1;
  }

  .item-2 {
    grid-column: 2;
    grid-row: 2;
  }

  .item-3 {
    grid-column: 2;
    grid-row: 3;
  }

  .item-4 {
    grid-column: 2;
    grid-row: 4;
  }
}
